/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 640px) {
        .mv {
        width:100%;
    }
    
    #btnv {
        width:100%;
    }

    .lesson {
        width:100%;
        margin-bottom:40px;
    }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 750px) {
    .mv {
        width:100%;
    }
    
    #btnv {
        width:100%;
    }

    .lesson {
        width:100%;
        margin-bottom:40px;
    }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    .mv {
        width:100%;
    }
    
    #btnv {
        width:100%;
    }

    .lesson {
        width:50%;
        margin-bottom:40px;
    }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 3400px) {
        .mv {
        width:100%;
    }
    
    #btnv {
        width:100%;
    }

    .lesson {
        width:25%;
    }
    }
