/* For tablet */
@media all and (max-width:1000px) {
    .lesson {
        width:25%;
        text-align:center;
    }


}

/* For smart phone*/
@media all and (max-width:670px) {
    .lesson {
        width:25%;
        text-align:center;
        padding:0 auto;
    }

    .mv h1{
        font-size:60px;
        text-align:left;
    }

    .mv h2{
        font-size:50px;
        text-align:left;
    }

    .mv p {
        font-size:40px;
        text-align:left;
    }

    .btnv h1{
        font-size:50px;
        text-align:left;
    }

    .btnv p{
        font-size:40px;
        text-align:left;
    }
    
    .math {
        font-size:60px;
    }
    
    .physics {
        font-size:60px;
    }
    
    .chemistry {
        font-size:60px;
    }
    
    .english {
        font-size:60px;
    }
        
    .footer-logo {
     font-family: cursive;
     font-size:60px;
    }

    .footer-list {
     font-size:60px;
    }

}
