/* For tablet */
@media all and (max-width:1000px) {
    .lesson {
        width:50%;
        margin-bottom:60px;
    }


}

/* For smart phone*/
@media all and (max-width:670px) {
    .lesson {
        width:50%;
        margin-bottom:60px;
    }

    .mv h1{
        font-size:45px;
        text-align:left;
    }

    .mv h2{
        font-size:35px;
        text-align:left;
    }

    .mv p {
        font-size:25px;
        text-align:left;
    }

    .btnv h1{
        font-size:35px;
        text-align:left;
    }

    .btnv p{
        font-size:20px;
        text-align:left;
    }

    .header-right {
        display:none;
    }

    .menu-icon {
        display:block;
    }

}
